<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="..public/home.css">
</head>
<body>
    <a href="about.html">About</a>
    <a href ="works.html">Works</a>
    <a href="home.html">Home</a>
    <h1>About</h1>
    <p>"Malcolm Timothy Gladwell (born 3 September 1963) is an English-born Canadian journalist, author, and public speaker. He has been a staff writer for The New Yorker since 1996. He has published seven books: <i>The Tipping Point: How Little Things Can Make a Big Difference </i>(2000); <i>Blink: The Power of Thinking Without Thinking </i>(2005); <i>Outliers: The Story of Success </i>(2008); <i>What the Dog Saw: And Other Adventures </i>(2009), a collection of his journalism; <i>David and Goliath: Underdogs, Misfits, and the Art of Battling Giants </i>(2013); <i>Talking To Strangers: What We Should Know about the People We Don't Know </i>(2019) and <i>The Bomber Mafia: A Dream, a Temptation, and the Longest Night of the Second World War </i>(2021). His first five books were on The New York Times Best Seller list. He is also the host of the podcast "Revisionist History" and co-founder of the podcast company Pushkin Industries.
        Gladwell's writings often deal with the unexpected implications of research in the social sciences, like sociology and psychology, and make frequent and extended use of academic work. Gladwell was appointed to the Order of Canada in 2011." - Wikipedia</p>
</body>
</html>