<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="../public/stylesheets/works.css">
</head>
<body>
    <a href="about.html">About</a>
    <a href ="works.html">Works</a>
    <a href="home.html">Home</a>
    <h1>Works</h1>
    <div class="book-space">
        <img src="../public/david and goliath.jpeg" alt="David and Goliath book cover">
        <img src="../public/outliers.jpeg"alt="Outliers book cover">
        <img src="../public/tipping point.jpeg" alt="Tipping Point book cover">
        <img src="../public/what the dog saw.jpeg" alt="What the dog saw book cover">

    </div>
</body>
</html>