<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="../public/stylesheets/works.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;800&display=swap" rel="stylesheet">
</head>
<body>
    <a href="about.html">About</a>
    <a href ="works.html">Works</a>
    <a href="home.html">Home</a>
    <div class="header-space">
    <h1>Works</h1>
    <p>These are some of Gladwell's most famous works.</p>
</div>
    <div class="book-space">
        <img src="../public/david and goliath.jpeg" alt="David and Goliath book cover">
        <img src="../public/outliers.jpeg"alt="Outliers book cover">
        <img src="../public/tipping point.jpeg" alt="Tipping Point book cover">
        <img src="../public/what the dog saw.jpeg" alt="What the dog saw book cover">

    </div>
    <div class="youtube-vid">
        <a href="https://www.youtube.com/watch?v=ziGD7vQOwl8&t=16s"><h2>Click here to watch Malcolm Gladwell's Ted Talk</h2></a>
   <a href="https://www.youtube.com/watch?v=ziGD7vQOwl8&t=16s"><img src="../public/youtube logo.jpeg"></a>
</div>
</body>
</html>